#map {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  zindex: 0;
}
#buttonBar {
  position: relative;
  //top 10px;
  //right 10px;
  width: 100%;
  background-color: #f8f8f8;
  // padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 2000;
}

.data-panel label,
.data-panel select,
.data-panel textarea {
            display: block;
            margin-bottom: 10px;
            width: 100%;
}
#sidebar {
  position: absolute;
  top: 30px;
  right: 10px;
  bottom: 100px;
  width: 300px;
  overflow: auto;
  background-color: #f8f8f8;
  border: 1px solid #000000;
  z-index: 1900;

}

.resizable-content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

#checks, #info, .data-panel {
  position: relative;
  //top: 30px;
  //right: 10px;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1000;
}
.button {
  height: 20px;
  width: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#start {
  background-color: #04AA6D; /* Green */
}

#lost {
  background-color: blue;
}
#end {
  background-color: red;
}
textarea {
  width: 100%;
  height: 150px;
}

#message {
  overflow-wrap: break-word;
}

.leaflet-container.start-flag-cursor-enabled {
    width: 30px;
    height: 30px;
    cursor:url(https://raw.githubusercontent.com/planetfederal/geosilk/master/silk/flag_green.png), crosshair;
}
.leaflet-container.lost-flag-cursor-enabled {
    width: 30px;
    height: 30px;
    cursor:url(https://raw.githubusercontent.com/planetfederal/geosilk/master/silk/flag_blue.png), crosshair;
}
.leaflet-container.end-flag-cursor-enabled {
    width: 30px;
    height: 30px;
    cursor:url(https://raw.githubusercontent.com/planetfederal/geosilk/master/silk/flag_red.png), crosshair;
}

